@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="panel card-sign">
    <div class="card-body">
        <div class="alert alert-info">
            <p class="m-0">E-posta adresini gir ve hesabına yeniden girebilmen için sana bir bağlantı gönderelim.</p>
        </div>

        <form id="form" asp-action="ForgotPassword" method="post">
            <div class="form-group mb-0">
                <div class="input-group">
                    <div class="form-floating">
                        <input asp-for="Email" type="email" placeholder="E-Posta" class="form-control form-control-lg" required />
                        <label for="floatingInputGroupEmail">E-Posta</label>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Gönder</button>
                </div>
            </div>

            <p class="text-center mt-3"><a asp-action="Login">Giriş sayfasına</a> geri dön</p>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var errorMessages = @Html.Raw(Json.Serialize(ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).ToList()));
        if (errorMessages.length > 0) {
            var notice = new PNotify({
                text: errorMessages.join('<br>'),
                type: 'error',
                addclass: 'click-2-close',
                hide: true,
                buttons: {
                    closer: false,
                    sticker: false
                }
            });

            notice.get().click(function () {
                notice.remove();
            });
        }        
    </script>
}